body{ margin: 0;
      padding: 0;}

header{background-color: #0076ec;
        padding: 20px; 
        text-align: center; 
        width: 100%;
        height: 200px;}
        
main{height: 1000px;}


footer{background-color: #0076ec;  
       padding: 10px;
       height: 200px;
       text-align: center;
       width: 100%;
       height: 100px;
       position: fixed;
       bottom: 0;}

h1{ color: rgb(255, 255, 255);  
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;}

h2{ color:white; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;}

h3{ color: rgb(255, 255, 255); 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding: 29px;}

input[type="text"] {
                    width: 200px;
                    height: 15px;
                    font-size: 16px;
                    padding: 5px;
                    margin-right: 10px;
                    border-radius: 50px ;
                    text-align: center;
                    border: none;}


input[type="button"] {
                    width: 80px;
                    height: 25px;
                    font-size:10px;
                    margin-right: 10px;
                    border-radius: 50px;
                    text-align: center;
                    border: none;
                    background-color: white;}

div{
    width: 400px;
    height: 100px; ;
    background-color: #0076ec;
    margin: 30px;
    border-radius: 15px;

}