body{margin: 0;
padding: 0;}

header{background-color: #0076ec;
padding: 20px; 
text-align: center; 
width: 100%;
height: 200px;}
        
main{height: 400px;}

footer{background-color: #0076ec;  
padding: 10px;
height: 200px;
text-align: center;
width: 100%;
height: 100px;
position: fixed;
bottom: 0;}

h1{color: rgb(255, 255, 255);  
font-family: Arial, Helvetica, sans-serif;
font-size: 50px;}

h2{color:white; 
font-family: Arial, Helvetica, sans-serif;
font-size: 18px;}

h3{color: rgb(255, 255, 255); 
font-family: Arial, Helvetica, sans-serif;
font-size: 18px;
padding: 29px;}

p{
text-align: center;
font-family: Arial, Helvetica, sans-serif;
color: white;
font-size: 18px;
padding-top: 20px;}

.img1{
width: 220px;
height: 220px;
float: right;}

.img2{
width: 220px;
height: 220px;
float: left;}

input{
width: 200px;
height: 15px;
font-size: 16px;
padding: 5px;
margin-right: 10px;
border-radius: 50px ;
text-align: center;
border: none;}

.abas{
width: 300px;
height: 100px; ;
background-color: #0076ec;
margin: 30px;
border-radius: 15px;
float: right;}










