body{margin: 0;
     padding: 0;}

header{ background-color: #0076ec;
        padding: 20px; 
        text-align: center; 
        width: 100%;
        height: 200px;}
        
main{height: 1000px;}


footer{ background-color: #0076ec;
        padding: 10px;
        height: 200px;
        text-align: center;
        width: 100%;
        height: 100px;
        position: fixed;
        bottom: 0;}

    h1{ color: rgb(255, 255, 255);  
        font-family: Arial, Helvetica, sans-serif;
        font-size: 50px;
    padding: 30px;}

    
    h2{ color: rgb(255, 255, 255); 
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
        padding: 29px;}


